@import url("https://fonts.googleapis.com/css2?family=Epilogue:wght@200;500;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Epilogue", sans-serif;
}

.right {
  background-image: url("./images/image-hero-desktop.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.drop-item > * ~ * {
  margin: 0.5rem 0;
}

button {
  outline: none;
}

@media (min-width: 320px) and (max-width: 520px) {
  .right {
    background-image: url("./images/image-hero-mobile.png");
  }

  .nav.open {
    display: flex;
    position: absolute;
    justify-content: end;
    height: 100vh;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.2);
  }
  .nav-items {
    width: 70%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: white;
  }

  .nav-item {
    display: flex;
    flex-direction: column;
    align-items: start;
  }
  .drop-item > * ~ * {
    margin: 1rem 0;
  }
}
